@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001242;
}

.signatureCanvas {
  border: 1px solid black;
  width: 100%;
  min-height: 500px;
}

.backdrop-blur-sm {
  overflow-y: scroll !important;
}

.navigation {
  border: 3px solid #b0bec5;
}

body {
  background-color: #041c2d !important;
}